[bumpversion]
commit = True
commit_args = -n
tag = False
current_version = 0.1.0
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)(\.(?P<release>[a-z]+))?
serialize = 
	{major}.{minor}.{patch}.{release}
	{major}.{minor}.{patch}

[bumpversion:file:ai_service_ui/__init__.py]

[bumpversion:file:sonar-project.properties]
search = sonar.projectVersion={current_version}
replace = sonar.projectVersion={new_version}

[bumpversion:part:release]
optional_value = gamma
values = 
	dev
	gamma

[metadata]
name = ai-service
url = https://dev-git.labs.gmv.com/gmv-bda/upm/inesdata-mov/ai-service-ai_service_ui.git
project_urls = 
	Documentation = https://dev-git.labs.gmv.com/gmv-bda/upm/inesdata-mov/ai-service-ui.git
	Code = https://dev-git.labs.gmv.com/gmv-bda/upm/inesdata-mov/ai-service-ui.git
license = 
author = gmv-bda
author_email = gmv-bda@gmv.com
description = Servicio de IA para proyecto INESADATA-MOV
long_description = file: Readme.md
long_description_content_type = text/markdown
classifiers = 
	Operating System :: OS Independent
	Programming Language :: Python :: 3

[options]
packages = find:
package_dir = '' = ai_service_ui
include_package_data = true
python_requires = >= 3.11

[options.entry_points]
console_scripts = 
	ai_service_ui = ai_service_ui.__main__:main

[pydocstyle]
convention = google
add-ignore = D100,D104
