# Requirements for development
-c requirements.txt
bandit==1.7.10              # Updated 24.3.0: Security oriented static analyser for python code
black==24.10.0              # Updated 24.3.0: Code formater
bump2version==1.0.1         # Version control
coverage==7.6.4             # Updated 24.3.0: Measures tests in %
flake8==7.1.1               # Updated 24.3.0: Source code linter
httpx==0.27.2               # Updated 24.3.0: The next generation HTTP client.
isort==5.13.2               # New 24.1.0: Sort imports
mypy==1.12.1                # Updated 24.3.0:Type annotations for Python
pre-commit==4.0.1           # Updated 24.3.0: Pre-commit hooks
pydocstyle==6.3.0           # Updated 24.1.0: Analyze docstring conventions
pytest== 8.3.3              # Updated 24.3.0: Test library
pytest-cov==5.0.0           # New 24.1.0: Pytest plugin for measuring coverage.
pytest-html-reporter==0.2.9 # Static html report based on pytest
ruff==0.7.0                 # Updated 24.3.0: Source code linter
twine==5.1.1                # Updated 24.3.0: Publish package
wheel==0.44.0               # Updated 24.3.0: A built-package formattwine